.container{
    box-shadow:1px 1px 5px gray;
    display: block;
    background:rgba(255,255,255,0.9);
}
.footer{
    margin: 0 auto;
    z-index: -114;
    text-align: center;
}
.footer-text{
    display: inline-block;
    color: #999;
}