<style>
.main-panel{
    position: relative;
    float: left;
    margin-left: 5%;
    width: 70%;
}
.side-panel{
    position: relative;
    float: left;
    margin-left: 10px;
    width: 15%;
}
.font-small{
    font-size: 13px;
}
</style>
<div style="width: 90%;margin: 0 auto;height: 100%;">
    <div class="main-panel" style="height: 100%;">
        <div class="container" style="height: 50%;overflow-y: scroll;">
            <br>
            <h4><a href="/bulletins">公告</a></h4>
            <table class="table" style="width: 100%;table-layout: fixed; word-break: break-all;white-space: nowrap;">
                <thead>
                    <tr>
                        <th style="width: 2rem;">#</th>
                        <th>标题</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in board %}
                    <tr>
                        <td>{{board.index(i)}}</td>
                        <td><a href="/bulletins/{{i[1]}}">{{i[0]['title']}}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
        </div>
        <div class="container" style="height: 50%;overflow-y: scroll;top: 10px;position: relative;">
            <br>
            <h4><a href="/ranking">排名</a></h4>
            <table class="table" style="width: 100%;table-layout: fixed; word-break: break-all;white-space: nowrap;">
                <thead>
                    <tr>
                        <th style="width: 10%;">#</th>
                        <th style="width: 30%;">用户名</th>
                        <th style="width: 60%;overflow-x: hidden;">个人介绍</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in rankingTop10 %}
                    <tr>
                        <td>{{i[1]}}</td>
                        <td><a href="/user/{{i[0]['name']}}">{{i[0]['name']}}</a></td>
                        <td>{{i[0]['description']}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
        </div>
    </div>

    <div class="side-panel">
        <div class="container" style="width: 100%;position: relative;text-align: center;">
            <br>
            <img src="/api?request=userImg&name={{ user['name'] }}" style="width: 100px;border-radius: 50%;">
            <h4>{{user['name']}}</h4>
            <div class="font-small" style="display: inline-block;width: 90%;height: 16px;overflow: hidden;word-break: break-all;max-lines: 1;">{{user['item']['descriptions']['description']}}</div><br>
            <div class="font-small" style="display: inline-block;width: 90%;height: 16px;overflow: hidden;word-break: break-all;max-lines: 1;">join-time: {{user['item']['descriptions']['join-time']}}</div><br>
            <div class="font-small" style="display: inline-block;width: 90%;height: 16px;overflow: hidden;word-break: break-all;max-lines: 1;">Solved: {{user['item']['descriptions']['solved-problems']}}</div><br>
            <div class="font-small" style="display: inline-block;width: 90%;height: 16px;overflow: hidden;word-break: break-all;max-lines: 1;">Ranking: {{user['item']['ranking']+1}}</div><br>
            <br>
        </div>
        <div class="container" style="width: 100%;top: 10px;position: relative;">
            <br>
            <h5>友情链接</h5>
            {% for i in config_file['friend-urls'] %}
            <li style="position: relative;left: 20px;"><a href="{{i[1]}}">{{i[0]}}</a><br></li>
            {% endfor %}
            <br>
        </div>
    </div>
</div>