
<div class="container" style="margin: 0 auto;">
    <br>
    <h2>{{problem["name"]}}</h2>
    <i class="fas fa-stopwatch"></i> {{problem["time_limit"]}}ms <i class="fas fa-memory"></i> {{problem["mem_limit"]}}KB<br>
    <br>
    <h4>题目介绍</h4>
    <div id="description" style="display: inline;"></div><br><br>
    <h4>样例</h4>
    {% if example_count == 0 %}
    无<br>
    {% endif %}
    {% for i in range(example_count) %}
    <h6>样例{{i+1}}·输入</h6>
    <code>
    {% if problem["input_example"][i] == "" %}
    无
    {% endif %}
    {{problem["input_example"][i]|safe}}
    </code><br>
    <h6>样例{{i+1}}·输出</h6>
    <code>
    {% if problem["output_example"][i] == "" %}
    无
    {% endif %}
    {{problem["output_example"][i]|safe}}
    </code><br>
    {% endfor %}
    {% if logined == True %}
    <a onclick="goto_post()" class="btn btn-primary">提交答案</a>
    {% endif %}
    <br>
    <br>
</div>
<script>
document.getElementById('description').innerHTML = decodeURIComponent('{{problem["description"]|safe}}');
function goto_post() {
    window.location += '/post'
}
</script>