<br><br><br>
<div class="container" style="margin: 0 auto;">
    <br>
    <div id="liveAlertPlaceholder"></div>
    <h2>提交列表: 第{{ now_index }} / {{ total_index }}页</h2>
    <br>
    <table class="table" style="width: 100%; table-layout: fixed; word-break: break-all;white-space: nowrap;">
        <thead>
            <tr>
                <th>Status</th>
                <th>Problem</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            {% for i in records %}
            <tr>
                <td><a href="/judge_status/{{i['real_record_id']}}">{{i['record'][0]}}</td>
                <td><a href="/problems/{{i['problem_id']}}">{{i['problem_id']}}-{{i['problem_name']}}</a></td>
                <td><a href="/user/{{i['record'][2]}}">{{i['record'][2]}}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <center>
    {% if now_index != 0 %}
    <a href="/records?index={{now_index - 1}}">Preview</a>·
    {% else %}
    Preview·
    {% endif %}
    {% for i in range(now_index,now_index + 10) %}
    {% if i > total_index %}
    {{i}}·
    {% else %}
    <a href="/records?index={{i}}">{{i}}</a>·
    {% endif %}
    {% endfor %}
    {% if now_index != total_index %}
    <a href="/records?index={{now_index + 1}}">Next</a>
    {% else %}
    Next
    {% endif %}
    </center>
    <br>
</div>

<script>
var alertPlaceholder = document.getElementById('liveAlertPlaceholder')
function alert(message, type) {
    var wrapper = document.createElement('div')
    wrapper.innerHTML = '<div class="alert alert-' + type + ' alert-dismissible" role="alert">' + message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>'    
    alertPlaceholder.append(wrapper)
}
function remove_problem(pid) {
    let xmlhttp = new XMLHttpRequest('GET','/api?request=remove_problem&pid=' + pid,0);
    xmlhttp.send();
    if(JSON.parse(xmlhttp.responseText)["status"] != "success"){
        alert(JSON.parse(xmlhttp.responseText)["reason"],"danger");
    }
    window.location = window.location;
}
function edit_problem(pid) {
    window.location = '/problems/edit?pid=' + pid;
}
function new_problem() {
    window.location = '/problems/post';
}
</script>