<!doctype html>
<html>
<head>
    <link href="/src/codemirror-5.63.1/lib/codemirror.css" rel="stylesheet">
    <script src="/src/codemirror-5.63.1/lib/codemirror.js"></script>
    <script src="/src/codemirror-5.63.1/mode/xml/xml.js"></script>
    <script src="/src/codemirror-5.63.1/mode/python/python.js"></script>
    <script src="/src/codemirror-5.63.1/mode/javascript/javascript.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/src/main_sheet.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>{{action}}·{{config_file['server-name']}}</title>
</head>
<script>
function logout() {
    let xmlhttp = new XMLHttpRequest();
    xmlhttp.open( 'GET','/api?request=logout' , 0 );
    xmlhttp.send();
    if(JSON.parse(xmlhttp.responseText)['status'] == 'error'){
        alert(JSON.parse(xmlhttp.responseText)['reason']);
    }else{
        window.location = '/';
    }
}
</script>
<body style="background-image: url('//api.timecdn.cn/libs/wallpaper/v1'); background-size: cover; background-attachment: fixed; width: 100%; height: 100%;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <img src="/src/logo.png" alt="" width="auto" height="50px" class="d-inline-block align-text-top">
          <a class="navbar-brand" href="/">{{config_file['server-name']}}</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">主页</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/problems">题库</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/lists">题单</a>
              </li>
              {% if is_logined == False %}
              <li class="nav-item">
                <a class="nav-link" href="/login">登入</a>
              </li>
              {% else %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/user/{{ user['name'] }}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ user['name'] }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% if user['item']['premission'] == 0 %}
                  <li><a class="dropdown-item" href="/manage">服务器管理</a></li>
                  {% endif %}
                  <li><a class="dropdown-item" href="/user/self">用户设置</a></li>
                  <li><a class="dropdown-item" href="javascript:void(0);" onclick="logout()">登出</a></li>
                </ul>
              </li>
              {% endif %}
            </ul>
            <div class="d-flex">
              <input class="form-control me-2" id="fast-goto" type="search" placeholder="在这里输入题号跳转" aria-label="Search">
              <button class="btn btn-outline-success" onclick="fastgoto()">Go</button>
            </div>
          </div>
        </div>
    </nav>
    {{render_text}}
</body>
<script>
function fastgoto() {
  window.location = '/problems/' + document.getElementById('fast-goto').value;
}
</script>
</html>