
<div class="container">
    <br>
    <div>
        <img src="{{user['item']['descriptions']['user-img']}}" style="width: 100px;border-radius: 50%;float: left;"><br>
        <div style="float: left;margin-left: 10px;">
            <h4>{{ user['name'] }}</h4>
            <h6 style="font-size: 13px;top: 40%;">{{ user['item']['descriptions']['description'] }}</h6>
        </div>
    </div>
    <h6 style="clear: both;">Join time: {{ user['item']['descriptions']['join-time'] }}</h6>
    <h6>Accepted problems: {{ ACedCount }}</h6>
    <br>
    <div class="introduction">
    {{ introduction|safe }}
    </div>
    <br>
</div>