
<div class="container" style="margin: 0 auto;">
    <br>
    <div id="liveAlertPlaceholder"></div>
    <h2>查询标签: {{tag}}</h2>
    <br>
    <table class="table" style="width: 100%; table-layout: fixed; word-break: break-all;white-space: nowrap;">
        <thead>
            <tr>
                <th>Title</th>
                <th>Tags</th>
                {% if user['item']['premission'] == 0 %}
                <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for i in problems%}
            <tr>
                <td><a href="/problems/{{i['id']}}">{{i['name']}}</a></td>
                <td><h6>
                {% for j in range(0,5) %}
                <a href="/tags/{{i['tags'][j]}}"><span class="badge bg-primary">{{i['tags'][j]}}</span></a>
                {% endfor %}
                </h6></td>
                {% if user['item']['premission'] == 0 %}
                <td>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary" onclick="remove_problem('{{i['id']}}')">删除</button>
                        <button type="button" class="btn btn-primary" onclick="edit_problem('{{i['id']}}')">编辑</button>
                    </div>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
</div>

<script>
var alertPlaceholder = document.getElementById('liveAlertPlaceholder')
function alert(message, type) {
    var wrapper = document.createElement('div')
    wrapper.innerHTML = '<div class="alert alert-' + type + ' alert-dismissible" role="alert">' + message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>'    
    alertPlaceholder.append(wrapper)
}
function remove_problem(pid) {
    let xmlhttp = new XMLHttpRequest();
    xmlhttp.open('GET','/api?request=remove_problem&pid=' + pid,0)
    xmlhttp.send();
    if(JSON.parse(xmlhttp.responseText)["status"] != "success"){
        alert(JSON.parse(xmlhttp.responseText)["reason"],"danger");
    }
    window.location = window.location;
}
function edit_problem(pid) {
    window.location = '/problems/edit?pid=' + pid;
}
function new_problem() {
    window.location = '/problems/post';
}
</script>